@{
    ViewBag.Title = "Participantes:";
    ViewBag.Message = "Dennis García 1016417";
    ViewBag.Message2 = "Luis Roldán 1071317";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Message2</h3>
