
@{
    ViewBag.Title = "Edit";
}

<h2>Editar el Árbol AVL</h2>

<html>
<body>
    <h3>Insertar un nodo en el árbol</h3>
    <form action="/action_page.php">
        No Partido: <input type="text" name="NoPartido" value=""><br>
        Fecha Partido: <input type="text" name="FechaPartido" value=""><br>
        Grupo: <input type="text" name="FechaPartido" value=""><br>
        Pais 1: <input type="text" name="Pais1" value=""><br>
        Pais 2: <input type="text" name="Pais2" value=""><br>
        Estadio: <input type="text" name="Estadio" value=""><br>
        <input type="submit" value="Ingresar">
    </form>

    <h3>Eliminar un nodo del árbol</h3>
    <form action="/action_page.php">
        No Partido: <input type="text" name="NoPartido" value=""><br>
        Fecha Partido: <input type="text" name="FechaPartido" value=""><br>
        <input type="submit" value="Eliminar">
    </form>



</body>
</html>


